{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "MySql": ""
  },
  "OsuOAuthConfiguration" : {
    "ClientId": 0,
    "ClientSecret": "",
    "RedirectUri": ""
  }
}
